#blog, #post, #page {
  .photo {
    background: url('../images/blog.jpg') no-repeat center bottom scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;

    @media (max-width: @screen-xs-max) {
      height: 300px;
    }

    h1 {
      font-weight: bold;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      font-size: 48px;
      color: #fff;
      margin-bottom: 40px;
      line-height: 80px;
    }
  }

  .content {
    padding-top: 15px;
    padding-bottom: 15px;

    .post {
      margin-bottom: 50px;

      .post-header {
        height: auto;
        padding: 0;

        &:after {
          background: none repeat scroll 0 0 #ddd;
          border: 0 none;
          content: "";
          display: block;
          height: 1px;
          margin: 6px 0 20px;
          overflow: auto;
        }

        h1 a {
          color: #8a8a8a;
          font-size: 35px;

          &:hover,
          &:focus,
          &:active {
            color: lighten(#8a8a8a, 10%);
          }
        }

        .post-meta {
          color: #a2a2a2;
          font-size: 14px;
          white-space: nowrap;

          .post-date:before, .tags:before { content: "\00a0 "; }
          .post-date:after { content: "\00a0 "; }

          .tags {
            font-family: @headings-font-family;
          }
        }
      }

      .post-content {
        img {
          max-width: 100%;
        }

        .post-card {
          display: block;
          margin-bottom: 1em;

          .post-card-image-link {
            position: relative;
            overflow: hidden;
            -webkit-box-shadow: 0 0 6px -2px #aaa;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
            -moz-box-shadow: 0 0 6px -2px #aaa;  /* Firefox 3.5 - 3.6 */
            box-shadow: 0 0 6px -2px #aaa;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

            .post-card-image {
              width: auto;
              height: 225px;
              background-position: center;
              background-repeat: no-repeat;
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;

              @media (max-width: @screen-xs-max) {
                height: 200px;
              }
            }
          }
        }

        .kg-card-markdown {
          display: block;
        }
      }

      .read-more {
        font-size: 11px;
        padding: 10px 15px;
        border: none;
        -webkit-appearance: none;

        &:hover {
          color: #fff;
          background-color: #c6c6c6;
        }
      }

      .share {
        border-top: 1px solid #ddd;
        padding: 15px 0;

        a {
          display: inline-block;
          width: 24px;
          height: 24px;
          line-height: 24px;
          color: #fff;
          text-align: center;
          margin-right: 10px;

          &.facebook {
            background-color: #3c5a99;
          }

          &.googleplus {
            background-color: #d34935;
          }

          &.twitter {
            background-color: #00b0ed;
          }
        }


      }
    }
  }
}

#post {

  @media (max-width: @screen-xs-max) {
    h1, .h1 {
      font-size: 34px;
    }
    h2, .h2 {
      font-size: 28px;
    }
    h3, .h3 {
      font-size: 22px;
    }
    h4, .h4 {
      font-size: 16px;
    }
    h5, .h5 {
      font-size: 12px;
    }
    h6, .h6 {
      font-size: 10px;
    }
  }

  .photo {
    background-position: center center;

    h1 {
      padding-top: 15px;
      line-height: 55px;

      @media (max-width: @screen-xs-max) {
        line-height: 40px;
        font-size: 34px;
      }
    }
  }

  .content {
    .post {
      .post-header {

        &:after {
          margin: 25px 0 20px;
        }

        .back-link {
          display: table;
          color: #a2a2a2;
          font-size: 14px;
          line-height: inherit;

          span {
            font-family: @font-family-sans-serif;
          }
        }
      }
    }
  }
}