//
// Pager pagination
// --------------------------------------------------


.pager {
  border-top: 1px dashed #ddd;
  padding-top: 35px;

  &:extend(.clearfix all);
  li {
    color: #666;
    font-family: @headings-font-family;
    font-size: 12px;

    > a,
    > span {
      color: #333;
      font-family: @headings-font-family;
      font-size: 11px;
      text-transform: uppercase;
    }
  }
}

