@import "../bootstrap/less/bootstrap.less";
@import "variables.less";
@import "button.less";


//== Animation
//
a, input[type="text"], button {
  transition: color 0.3s ease 0s, text-decoration 0.3s ease 0s, background 0.3s ease 0s;
}

h1, h2, h3, h4, h5, h6 {
  color: #242628;
  font-weight: 300;
  line-height: 1;
  text-rendering: optimizelegibility;
}