@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400,300);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@brand-primary:         #5BA4E5;


//== Typography
//

@font-family-sans-serif:  'Open Sans', sans-serif;
@headings-line-height:    1.65;

@headings-font-family:    'Montserrat', sans-serif;


//== Components
//

@border-radius-base:        0.2em;
@border-radius-large:       0.2em;
@border-radius-small:       2px;


//== Buttons
//

@btn-primary-bg:                 #9FBB58;
@btn-primary-border:             @btn-primary-bg;
@btn-success-border:             @btn-success-bg;
@btn-info-border:                @btn-info-bg;
@btn-warning-border:             @btn-warning-bg;
@btn-danger-border:              @btn-danger-bg;


//== Forms
//

//** Border color for inputs on focus
@input-border-focus:             #AAA9A2;